<!DOCTYPE html>
<html lang="en">
  <head>
  {{>headerlinks}}
  </head>
  <body>

 {{>navbar}}

    <!-- main header -->

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_right">
                <figure>
                    <img
                    src="images/about.jpg"
                    alt="umar"
                    class="img-fluid"
                    title="umar weather" />
                    
                </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>
                I am a <span class="text_clr">Mern Stack Developer, </span> BCA
               
              </h1>
              <a href="/weather"><button>About me</button></a>
            </div>
            <!-- right side div -->
          </div>
        </div>
      </div>
    </div>

    <!-- footer code -->
   {{>footer}}
  </body>
</html>
