<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>
  {{>navbar}}

   <!-- main header -->

   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">

   <div class="main_content">
    <form class="temp_form">
        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
        <input type="submit" value="search" id="submitbtn">
    </form>
   </div>
   <div class="tempInformation">
    <div class="top_layer">
        <p id ="day">Tuesday</p>
        <p id ="today_date">13 OCT</p>
    </div>

    <div class="main_layer ">
        <p id="city_name">Get Output Here</p>
          <div class="middle_layer data_hide">
            <p id="temp"><span id="temp_real_val">0</span> <sup>o</sup>C</p>
                <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
        </div>

    </div>

   </div>
            
              </div>
         </div>
     </div>

<!-- footer code -->
   {{>footer}}


   <script src="js/main.js"></script>


   <script>
    const day = document.getElementById('day');
    const getCurrentDay = ()=>{
        let weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";

        let currentTime = new Date();
       days= weekday[currentTime.getDay()];
       let day = document.getElementById('day');
       day.innerText = days;

    };

    getCurrentDay();
   </script>
</body>
</html>